<%- include('partials/header.ejs') -%>
<div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
 </div>
<div class="container d-flex justify-content-center mb-3 mt-5">
    <h1>Todo List</h1>
</div>
<div class="container d-flex flex-column position-relative list py-3 px-4">
    <div class="d-flex justify-content-between">
        <h2 class="mb-2" data-attribute="<%= name %>"><%= name.charAt(0).toUpperCase() + name.slice(1) %></h2>
        <% if (name != "personal") { %>
        <button type="button" class="btn btn-outline-danger ml-3" data-bs-toggle="modal" data-bs-target="#exampleModal"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
          </svg></button>
        <% } %>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title w-100"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
              </svg><span class="align-middle"> WARNING </span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
              </svg></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="text-center">Are you sure you want to delete the whole list?</p>
            </div>
            <div class="modal-footer">
                <form action="/delete-list" method="post">
                    <input type="hidden" name="listName" value="<%= name %>">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger delete-list" >Delete List</button>
            </form>
            </div>
          </div>
        </div>
      </div>
        <div class="container list-items">
        <!--for each item in todo list show the to-do list item and show checked off or not-->
            <% todoList.forEach(function(todo){ %>
                <div class="todo-item d-flex">
                    <input type="checkbox" data-id="<%= todo._id %>" <% if(todo.completed) { %> checked <% } %> class="todo-checkbox">
                    <span class="todo-name px-3"><%= todo.item %></span>
                    <button class="btn btn-close d-none" data-id="<%= todo._id %>"></button>
                </div>
            <% }); %>
        </div>
    <div class="container position-absolute">
        <input type="text" class="form-control mx-2" id="todo-input" placeholder="Add a new todo">
        <button class="btn btn-primary btn-lg" id="add-todo">+</button>
    </div>
</div>
<%- include('partials/footer.ejs') %>